/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visual,
lyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*==========================================================================
                                PCT TEAM EDITS
 ==========================================================================*/


/* <==================================================>*/
/* <================== Home page ====================>*/
/* <=================================================>*/
.container {

    -webkit-box-shadow: 2px -5px 65px 14px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px -5px 65px 14px rgba(0,0,0,0.34);
    box-shadow: 2px -5px 65px 14px rgba(0,0,0,0.34);
}

.inner_row
{
    margin: 15px;
}
.container
{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#closeable-ofi {
/*    height:50px; */
    overflow:hidden;
}

/***************************************************
 ##############     NAV BAR       ##################
 ***************************************************/

div#nav {
    font-size: 15px !important;
}
.nav li
{
    font-size: medium;
}
.navbar-collapse ul{
    margin-right: 3px;
    text-align: center;
    margin-top: 17px;
}
.navbar-header {
    width: 0%;
    float: none;
    margin: 0 auto;
    display: table;
}

#nav.col-md div#nav a:link, a:hover {
    text-decoration: none !important;
}

#menu.col-md {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-bottom: -90px;
}

#slideShow {
    position: relative;
    margin-top: 180px;
}

h2 {
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

#slideShow, .carousel-inner img
{
    width:1185px;
    max-height: 99%;
}
#myCarousel
{
 margin-left: 13px;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

/* Carousel base class */
.carousel {
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 1;
}

#myCarousel, .carousel-inner, #slideShow.col-md {
    height: 600px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 600px;
    background-color: #555;
}


.navbar-brand
{
    font-size: 29px;
}
/************************************
 ####### NAV Bar custom END #########
 ************************************/


/*******************************
 NEWS AND EVENTS Front End Page
 *******************************/
 h3
 {
    font-size: 28px;
 }
#News, #Events
{
    float: right;
}

#News #text, #Events #text {
    height: 200px;
    /*overflow: scroll;*/
    overflow-x: hidden;
}

#Events li, #News li
{
    width: 320px;
}
#Tweets
{float: right;}

/**********************************
 NEWS AND EVENTS Front END Page END
 ***********************************/

/***************************
News and Events Backend Page
***************************/
#newsPane
{
    border: outset;
}
#admin_news
{
    padding: 150px;
}
/***************************
News and Events Backend END
***************************/

.item {
    background: #333;
    text-align: center;
    height: 600px !important;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
}

#Organization-and-Head{
}

#clearfix{
    padding: 30px;
}
/********************************************
 ********************************************
        *IMAGE GALLERY VIEW
 ********************************************
*********************************************/

div#img_gallery{
    margin-top: 30px;
}

/* <==================================================>*/
/* <=============== Home Page End ====================>*/
/* <=================================================>*/


/*
***               ****
*** CPANEL VIEW   ****
***               ****
*/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}
input[type=file]{
  width: 50px;
  background-color: blue;
}
.profile-userpic img {
  display: block;
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 60%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
#admin_profile
{
    margin-top: 280px;
}

/*
***               ****
*** CPANEL END   ****
***               ****
*/

/* <==================================================>*/
/* <=========== Teacher Profile Backend===============>*/
/* <=================================================>*/

#inner_row
{
}

#All_nav_pills
{
    margin-top: 200px;
}
#first_row img
{
    width:170px;
    height:156px;
}

#name_position_select select
{
    height: 32px;
}
#contact_info
{
    float: right;
}

#contact_input, #contact_name
{
}
#select_degree select
{
    height: 32px;
    width: 145px;
}

#select_ending_year select
{
    height: 32px;
    width: 145px;
}
/* <==================================================>*/
/* <========== Teacher Profile Backend End ===========>*/
/* <=================================================>*/






/* <==================================================>*/
/* <============== Projects Page =====================>*/
/* <=================================================>*/
#nav_projects_outer {
    padding: 40px;
    margin-top: -50px;
}

#research_side_nav {
}
#projects_name {
    padding: 40px;
    font-size: large;
}
.alert_success {
    margin: 0px;
    padding: 0px;
    height: 1px;
}

ledgend {
    float: right;
    margin-top: 23px;
}

#project_name h3 {
    float: left;
}

#inner_projects {
    padding: 30px;
}

#all_done {
    padding: 0px;
}

#project_name h4 {
    float: right;
}

/* <==================================================>*/
/* <=========== Projects page End ====================>*/
/* <=================================================>*/


/* <==================================================>*/
/* <==================== Profile ====================>*/
/* <=================================================>*/

#my_prof_txt h2{
    text-align: center;
}

#img_profile img{
    float: left;
}
#img_profile strong{
    font-size: large;
}
#mid_profiles{
    padding: 20px;
}
#profile_tab{
    padding: 40px;
    margin-left: 30px;
}
/* <==================================================>*/
/* <================= Profile End ====================>*/
/* <=================================================>*/



/* <==================================================>*/
/* <==================== Events ======================>*/
/* <=================================================>*/
#header_events h2{
    text-align: center;
}
#header_events{
    padding: 30px;
    margin-bottom: 20px;
}
#recent_events, #commingup_events{

    padding: 40px;
}
#commingup_events a{
    color: crimson;
    text-decoration: none;
}
/* <==================================================>*/
/* <================= Events End ====================>*/
/* <=================================================>*/

#nav-tabs
{
    margin-top: 150px;
}
/* <==============================================================>*/
/* <=================Teacher Prof View Student ====================>*/
/* <===============================================================>*/

#main_tpvs
{
    margin-top: 150px;
}
#teacher_name_position_website
{
    margin-top: 20px;
}
#subject_display
{
    margin-top: 15px;
}
#subjects, #teacher_timings
{
    background-color: lightgray;
}
#teacher_lecture
{
    text-align: center;
}
/* <=======================================================================>*/
/* <================= Teacher Prof View for Students End ====================>*/
/* <==========================================================================>*/




/* <==================================================>*/
/* <===================   Footer ====================>*/
/* <=================================================>*/


#footer {
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 280px;
  background:
  /* color overlay */
    linear-gradient(
      #e7e7e7,
      rgba(0, 0, 0, 0.45)
    ),
    /* image to overlay */
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}

/* <==================================================>*/
/* <===================Footer END====================>*/
/* <=================================================>*/


/* <==================================================>*/
/* <================= Students  ====================>*/
/* <=================================================>*/
#padd_student_view{
    padding: 60px;
    margin-top: 60px;
}
/* <==================================================>*/
/* <================= Students End ====================>*/
/* <=================================================>*/
